.container {
  width: 710px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

.header-link a
{
	text-decoration: none;
}

.header-link a:hover
{
	text-decoration: none;
}

body {
  background: #cff; 
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

header {
  padding-top: 20px;
  background-color: #fff;
  padding-left: 20%;
}



header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

header h1 {
  font-size: 300%;
  padding: .5em;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  /*float: right;*/
  margin: auto;
  padding: 3em; 	 	
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  font-size: 16px;
}

nav ul {
  margin: 0;
  
  padding: 25px;
}

nav ul li {

  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  text-align: center;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}